<script src="https://cdnjs.cloudflare.com/ajax/libs/ng2-bootstrap/x.x.x/ng2-bootstrap.min.js">
</script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

<div>
  <git-hub></git-hub>
  <!--<div *ngIf="isLoading">
    <i class="fa fa-spinner fa-spin fa-3x"> </i>
  </div>-->
  <!--<rx></rx>-->
    <!--<signup-form></signup-form>-->
    <!--<changePassword-form></changePassword-form>-->
</div>

<!--<regist-form></regist-form>-->

<!--<div>
<Zippy [title]="zip.title">
  {{zip.body}}
</Zippy>

</div> -->


<!--<star [isActive]="post.isActive" (activeChange)="onActiveChange($event)"></star>
<h1>
    {{title}}
</h1>
<courses></courses>
<authors></authors>

<div>
  {{post.title}}
  <br />
  {{post.body|Summary}}
</div>

<vote [myVote]="vote.myVote" [voteCount]="vote.voteCount" (vote)="onVote($event)"></vote>


<like [totalLike]="tweet.totalLikes" [iLike]="tweet.iLike"></like>

<div>
  <tweet></tweet>

</div>

-->